.pomodoro__timer {
  text-align: center;
  font-size: 170px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 40px 0;
}

@media screen and (max-width: 500px) {
  .pomodoro__timer {
    font-size: 100px;
    padding: 80px 0;
  }
}
